.container {
    background: linear-gradient(to bottom, black 50%, white 50%);
    height: 100vh;
    display: flex;
}
body {
    margin: 0;
}
.bluediv {
    background-color: black;
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 150px;
}

.whitediv {
    background-color: white;
    width: 50%;
    height: 100%;
    border-top-left-radius: 150px;
}

.inputf {
    margin-left: 20%;
    padding: 100px;
    border: solid 13px gray;
    margin-right: 50px;
    border-radius: 10px;
    background-color: black;
    margin-top: 50px;
}

input {
    border: solid green 3px;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 30px;
    max-width: 700px;
    margin-right: 30px;
    margin-left: 20px;
    width: 250px;
    
}
input::placeholder {
    color: rgb(63, 60, 60);
}
button {
    margin-top: 20px;
    width: 300px;
    margin-left: 0px;
    height: 50px;
    background-color: gray;
    color:
        white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 15px;
    border: solid green 3px;
    margin-right: 20px;
}

h1 {
    margin-right: 20px;
    color: white;
    margin-left: 80px;
}

a {
    margin-left: 70px;
    color: white;
}
img{height: 60%; width: 55%; margin-left: 10%; margin-top: 10%;}